Sessions/Session_5A/5A.2_NASAaccess/extdata/la_plata.tif filter=lfs diff=lfs merge=lfs -text
Sessions/Session_1/1.1_Fundamentals-of-Remote-Sensing/1.1_Fundamentals-of-Remote-Sensing_eng.pptx filter=lfs diff=lfs merge=lfs -text
Sessions/Session_3B/3B.3_Water-Quality-RS-Applications/Data/sr_wq_rs_join.csv filter=lfs diff=lfs merge=lfs -text
Sessions/Session_1/1.1_Fundamentals-of-Remote-Sensing/1.1_Fundamentals-of-Remote-Sensing_spa.pptx filter=lfs diff=lfs merge=lfs -text
Sessions/Session_1/1.2_Landcover-Remote-Sensing/1.2_Landcover-Remote-Sensing_eng.pptx filter=lfs diff=lfs merge=lfs -text
Sessions/Session_1/1.2_Landcover-Remote-Sensing/1.2_Landcover-Remote-Sensing_spa.pptx filter=lfs diff=lfs merge=lfs -text
C:/Users/poddo/Documents/ISAT-Training-LaPlata/Sessions/Session_1/1.2_Landcover-Remote-Sensing/1.2_Landcover-Remote-Sensing_eng filter=lfs diff=lfs merge=lfs -text
Sessions/Session_2B/2B.1_Introduction-to-Soil-Moisture/2B.1_Introduction-to-Soil-Moisture.pptx filter=lfs diff=lfs merge=lfs -text
Sessions/Session_3A/3A.2_MOGWAI-Exercise/Data/MOD09A1.A2022177.h12v12.006.2022186044035.hdf filter=lfs diff=lfs merge=lfs -text
Sessions/Session_2B/2B.3_Introduction-to-Evapotranspiration/2B_P2_Intro-to-Evapotranspiration.pptx filter=lfs diff=lfs merge=lfs -text
Sessions/Session_4/4A.2_Surface-Water-Budget/4A.2_Surface-Water-Budget.pptx filter=lfs diff=lfs merge=lfs -text
Sessions/Session_5A/5A.2_NASAaccess/5A.2_NASAaccess+SWAT-Online.pptx filter=lfs diff=lfs merge=lfs -text
