#Sessions/Session_2B/2B_P2_Intro-to-Evapotranspiration.pptx
#Sessions/Session_2B/Espanol/2B_P1.pptx
#Sessions/Session_2B/Espanol/2B_P2.pptx
#Sessions/Session_2B/2B_P1_Intro-to-SMAP.pptx
**/Open Notebook.onetoc2
Files/
