#Sessions/Session_2B/2B_P2_Intro-to-Evapotranspiration.pptx filter=lfs diff=lfs merge=lfs -text
#Sessions/Session_2B/Espanol/2B_P1.pptx filter=lfs diff=lfs merge=lfs -text
#Sessions/Session_2B/Espanol/2B_P2.pptx filter=lfs diff=lfs merge=lfs -text
#Sessions/Session_2B/2B_P1_Intro-to-SMAP.pptx filter=lfs diff=lfs merge=lfs -text
